<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="BrunoSLopezF">
     <!--<link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico"> Poner logo datalab!!-->

    <title>Un ejercicio de conciencia</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <!-- Bootstrap core CSS -->
    <link href=" {{ url_for('static', filename='bootstrap_files/bootstrap.css') }} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {{ url_for('static', filename='cover.css') }}" rel="stylesheet">
  </head>

<body class="text-center" cz-shortcut-listen="true" style = "background-color:white;">

    <div class="cover-container2 d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
        </div>
      </header>
        <main role="main" class="inner cover">
        <div class = "container">
          <div class = "row c">
              <div class = "col-lg-12">
                <h1 class = "call"><strong>Un llamado a la acción</strong></h1>
              </div>
          </div>
          <div class = "row c">
              <div class = "col">
                <p class = "message2">
                    <br>
                    Reina Torrecillas, madre de Eleazar Hernández, buscó a su hijo durante ocho meses antes de enterarse que había aparecido en el SEMEFO apenas 3 días después de su desaparición. <br><br>
                    La razón: la falta de integración de datos y la completa obsolescencia tecnológica de las autoridades.<br><br>
                    La tecnología usada en Cara a Cara debe ser implementada para determinar si alguien que llega a un SEMEFO está reportado como desaparecido, ayudando así a cerrar miles de ciclos de luto. <br><br>
                    Si deseas unirte a esta exigencia, síguenos en Twitter en @datalabitam para recibir más información sobre los siguientes pasos. <br><br>
                </p>
              </div>
          </div>
          <div class = "row">
              <div class = "col">
                <p class="footnote">
                  Tus datos serán utilizados con fines estadísticos por los diseñadores de esta experiencia. En caso de que desees que no sean guardados, revisa el <a href="avisodeprivacidad" class ="call" style="color:#C32B3D">Aviso de privacidad</a> y selecciona la casilla de negativa.<br> 
                </p>
              </div>
          </div>
          <div class = "row">
              <div class = "col">
                  <p class = "lead">
                      <a href="/" class="btn btn-lg btn-tertiary"> Terminar </a>
                  </p>
              </div>
          </div>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <!--<div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div> -->
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src=" {{ url_for('static', filename='bootstrap_files/jquery-3.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src=" {{ url_for('static', filename='bootstrap_files/popper.js') }}"></script>
<script src=" {{ url_for('static', filename='bootstrap_files/bootstrap.js') }}"></script> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).keypress(function(event) {
    
    if (event.keyCode === 13) {
        
        
      window.location.href = '/';  
        
         
        
    }
    });
</script>
  

</body></html>
