<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="BrunoSLopezF">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
     <!--<link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico"> Poner logo datalab!!-->

    <title>Un ejercicio de conciencia</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href=" {{ url_for('static', filename='bootstrap_files/bootstrap.css') }} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {{ url_for('static', filename='cover.css') }}" rel="stylesheet">
    
  </head>


  <body class="text-center" cz-shortcut-listen="true">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
        </div>
      </header>
      <script>
          function llama_estadisticas() {
              var nombre = $('#nombreU').text();
              var edad = $('#edadU').text();
              var estado = $('#estadoU').text();
              var municipio = $('#municipioU').text();
              window.location = '/comotu/'+nombre +'/cargando/'+edad+'/'+estado+'/'+municipio;
              }
      </script>

      <main role="main" class="inner cover">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 id='nombreU'>{{nombreU}}</h2>
                    </div>
                    <div class="col">
                        <h2> {{ nombreD }} </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="{{ url_for('static', filename='Faces/0.jpg') }}" alt="Card image cap">
                        </div>
                        <!--IMAGEN TOMADA-->
                    </div>
                    <div class="col">
                            <div class="card">
                                <img class="card-img-top" src= "{{ url_for('static', filename='Imagenes/')}}{{ nombre }}/{{ nombre }}.jpg"  }} alt="Card image cap">
                            </div>
                        <!--IMAGEN BASE-->
                    </div>
                </div>
                <div class="row">
                    <div class = "col">
                        <!--DATOS TOMADOS-->
                        <p align="left">
                            <strong>Edad: </strong> <label id='edadU'> {{ edadU }}</label><br>
                            <strong>Estatura: </strong> <label id='estaturaU'>{{estaturaU}}</label><br>
                            <strong>Estado: </strong> <label id='estadoU'>{{estadoU}}</label><br>
                            <strong>Municipio: </strong> <label id='municipioU'>{{municipioU}}</label><br>
                        </p>
                    </div>
                    <div class = "col">
                        <!--DATOS BASE-->
                        <p align="left">
                            <strong>Edad: </strong> <label>{{ edadD }} </label><br>
                            <strong>Estatura: </strong> <label>{{estaturaD}} </label><br>
                            <strong>Estado: </strong><label>{{estadoD}}</label><br>
                            <strong>Municipio: </strong><label>{{municipioD}} </label><br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class = "col">
                        <h3><strong>Fecha desaparicion: </strong>{{fechaD}}<br></h3>
                    </div>
                </div>
            </div>
        <p class="lead">
          <a onclick="llama_estadisticas()" class="btn btn-lg btn-secondary">Continuar</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <!--<div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div> -->
      </footer>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src=" {{ url_for('static', filename='bootstrap_files/jquery-3.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src=" {{ url_for('static', filename='bootstrap_files/popper.js') }}"></script>
<script src=" {{ url_for('static', filename='bootstrap_files/bootstrap.js') }}"></script> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body></html>
