<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="BrunoSLopezF">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
     <!--<link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico"> Poner logo datalab!!-->

    <title>Un ejercicio de conciencia</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href=" {{ url_for('static', filename='bootstrap_files/bootstrap.css') }} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {{ url_for('static', filename='cover.css') }}" rel="stylesheet">
  </head>

  <body class="text-center" cz-shortcut-listen="true" style = "font-size: 160%;">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class = "container">
            <div class = "unhidden" id="text1">
                <p style = "font-size: 165%; " align = "left">
                    En esta base de personas desaparecidas hay <strong>{{nombre_stats}}</strong> personas que también se llaman {{nombre}} y <strong>{{apellido_stats}}</strong> que se apellidan {{apellido}}, <i> como tú</i>.
                </p>
                <p class = "lead">
                    <input id = 'siguiente1' class = "btn btn-lg btn-secondary" type="button" onclick="unhide('text2','text1')" value = "Continuar">
                </p>
            </div>
            <div class = "hidden" id = "text2">
                <p style = "font-size: 165%; " align = "left">
                    En esta base de personas desaparecidas hay <strong>{{edad_stats}}</strong> que, <i>como tú</i>, tienen {{edad}} años.
                </p>
                <p class = "lead">
                    <input id = 'siguiente2' class = "btn btn-lg btn-secondary" type="button" onclick="unhide('text3','text2')" value = "Continuar">
                </p>
            </div>
            <div class = "hidden" id = "text3">
                <p style = "font-size: 165%; " align = "left">
                    En esta base de personas desaparecidas hay <strong>{{estado_stats}}</strong> personas que también son de {{estado}} y <strong>{{municipio_stats}}</strong> que son de {{municipio}}, <i> como tú</i>.
                </p>
                <p class="lead">
                    <a id = 'siguiente3' href="/message.html" onclick= 'redirect_mess()' class="btn btn-lg btn-secondary">Continuar</a>
                    
                </p>
            </div>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <!--<div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div> -->
      </footer>
    </div>
    <script type="text/javascript">
        function unhide(divID, otherDivId) {
            var item = document.getElementById(divID);
            if (item) {
                item.className=(item.className=='hidden')?'unhidden':'hidden';
            }
            document.getElementById(otherDivId).className = 'hidden';
        }       
    </script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src=" {{ url_for('static', filename='bootstrap_files/jquery-3.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src=" {{ url_for('static', filename='bootstrap_files/popper.js') }}"></script>
<script src=" {{ url_for('static', filename='bootstrap_files/bootstrap.js') }}"></script> 
<script>
    
    function redirect_mess(){
        window.location.href = "/message.html";
        }
   
    
    
    var page = 0;

    $(document).keypress(function(event) {
    
    if (event.keyCode === 13) {
        console.log(page);
        
        
        if(page == 0){
            $("#siguiente1").click();
            page = page + 1;
            return
        }
        
        if(page == 1){
            $("#siguiente2").click();
            page = page + 1;
            return
        }
        
        if(page == 2){
            $("#siguiente3").click();
            page = page + 1;
            
        }
        
           
       
        
    }
    });
    
    
</script>
</body></html>
