<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="BrunoSLopezF">
     <!--<link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico"> Poner logo datalab!!-->

    <title>Un ejercicio de conciencia</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap_files/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center" cz-shortcut-listen="true">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
        </div>
      </header>

      <main role="main" class="inner cover">
          <h2>Gente como tu (Estadisticas)</h2>
        <p class="lead">Existen {{nombre}} personas con tu nombre, {{apellido}} con tu mismo apellido. {{edad}} de tu misma edad, {{estado}} de tu estado y {{municipio}} de tu municipio.</p>
        <div class = "container">
            <div class = "row">
                <div class = "col">
                    <p class="lead">
                        <a href = "caracara.html" class="btn btn-lg btn-secondary">Regresar</a>
                    </p>
                </div>
                <div class = "col">
                    <p class = "lead">
                        <a href = "message.html" class="btn btn-lg btn-secondary">Continuar</a>
                    </p>
                </div>
            </div>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <!--<div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div> -->
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="bootstrap_files/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="bootstrap_files/popper.js"></script>
<script src="bootstrap_files/bootstrap.js"></script>
  

</body></html>
