<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="BrunoSLopezF">
     <!--<link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico"> Poner logo datalab!!-->

    <title>Un ejercicio de memoria y conciencia</title>

  

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap_files/bootstrap.css" rel="stylesheet"><!-- Add url_for_static -->

    <!-- Custom styles for this template -->
    <link href="static/cover.css" rel="stylesheet"><!-- Add url_for_static -->
  </head>

  <body class="text-center" cz-shortcut-listen="true" style = "font-size: 160%;">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
        </div>
      </header>

      <main role="main" class="inner cover">
        <p style = "font-size: 180%;">
            <strong>Cara a cara: </strong> 
        </p>
        <p style = "font-size: 135%;">
            Un ejercicio de memoria y conciencia sobre la desaparición en México elaborado por estudiantes de Datalab ITAM usando tecnologías de reconocimiento facial 
        </p>
        Presiona Enter para continuar
        <p style = "font-size: 115%;">
            
        </p>
        <p class="lead">
          <a id="siguiente" href="questions.html" class="btn btn-lg btn-secondary">Empezar</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <!--<div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div> -->
      </footer>
    </div>
    



    <!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src=" {{ url_for('static', filename='bootstrap_files/jquery-3.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src=" {{ url_for('static', filename='bootstrap_files/popper.js') }}"></script>
<script src=" {{ url_for('static', filename='bootstrap_files/bootstrap.js') }}"></script> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function next(){
        window.location = '/questions.html';
        }
    
    

    $(document).keypress(function(event) {
    if (event.keyCode === 13) {
        $("#siguiente").click();
        
    }
    });
    
    $("#siguiente").click(function() {
        window.location = '/questions.html';
    });
</script>
  

</body></html>
