<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="BrunoSLopezF">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Un ejercicio de conciencia</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href=" {{ url_for('static', filename='bootstrap_files/bootstrap.css') }} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {{ url_for('static', filename='cover.css') }}" rel="stylesheet">
  </head>

  <body class="text-center" cz-shortcut-listen="true" style = "font-size: 160%;">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
        </div>
      </header>

   <script> 
        
        function manda_dato(){
            
            var variosnombres = $('#NombreInput').val();
            nombre = variosnombres.split(" ");
            
            var variosapellidos = $('#ApellidoInput').val();
            apellidos = variosapellidos.split(" ");
            
            
            var url = "/guardadato/" + nombre[0] + '/' + apellidos[0];
            $.ajax({
                url: url, 
                type: "POST", 
                cache: false,
                contentType: false,
                processData: false,
                data: 'ok'
                })
                .done(function(e){
                    
                });
             }
             
        function manda_dato2(){
            
            var edad = $('#EdadInput').val();
            
            
            var url = "/guardadato2/" + edad;
            $.ajax({
                url: url, 
                type: "POST", 
                cache: false,
                contentType: false,
                processData: false,
                data: 'ok'
                })
                .done(function(e){
                    
                });
             }
            function manda_dato3(){
            
            var edad = $('#EstaturaInput').val();
            
            
            var url = "/guardadato3/" + edad;
            $.ajax({
                url: url, 
                type: "POST", 
                cache: false,
                contentType: false,
                processData: false,
                data: 'ok'
                })
                .done(function(e){
                    
                });
             }
             
             function manda_dato4(){
               var estado = $('#EstadoSelect option:selected').val();
               var municipio = $('#MunicipioSelect option:selected').val();
               var url = "/guardadato4/" + estado + '/' + municipio;
            $.ajax({
                url: url, 
                type: "POST", 
                cache: false,
                contentType: false,
                processData: false,
                data: 'ok'
                })
                .done(function(e){
                    window.location.href = 'camara'
                });
             }
             
             
          
    </script>
      <main role="main" class="inner cover">
          <div class = "unhidden" id = "question1">
              <form action = "http://127.0.0.1:500/image-send", method = "POST">
                    <div class="form-group">
                        <label for="NombreInput">Ingresa tu nombre: </label>
                        <input type="text" class="form-control" id="NombreInput" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="ApellidoInput">Ingresa tu apellido: </label>
                        <input type="text" class="form-control" id="ApellidoInput" placeholder="Nombre">
                    </div>
                </form>
                <p class="lead">
                    
                    <input id = 'manda1' class="btn btn-lg btn-secondary" type="button" onclick="unhide('question2', 'question1'); manda_dato(); " value="Continuar">
                    
                </p>
            </div>
            <div class = "hidden" id="question2">
                <form>
                    <div class="form-group">
                        <label for="EdadInput">Ingresa tu edad: </label>
                        <input type="number" class="form-control" id="EdadInput" placeholder="Edad">
                    </div>
                </form>
                <p class="lead">
                        <input id= "manda2" class="btn btn-lg btn-secondary" type="button" onclick="unhide('question4', 'question2'); manda_dato2();  " value="Continuar">
                </p>
            </div>
            <div class = "hidden" id = "question3">
                <form>
                    <div class="form-group">
                        <label for="EstaturaInput">Ingresa tu estatura: (m.) </label>
                        <input type="number" class="form-control" id="EstaturaInput" placeholder="Estatura">
                    </div>
                </form>
                <p class="lead">
                        <!--<input id='manda3' class="btn btn-lg btn-secondary" type="button" onclick="unhide('question4', 'question3'); manda_dato3(); " value="Continuar">-->
                </p>
            </div>
            <div class = "hidden" id = "question4">
                <form>
                    <div class="form-group">
                        <label for="EstadoSelect">Selecciona tu estado:</label>
                        <select js-state-select class="form-control" id="EstadoSelect" placeholder="Estado"></select>
                    </div>
                    <div class="form-group">
                        <label for="MunicipioSelect">Selecciona tu municipio: </label>
                        <select js-city-select class="form-control" id="MunicipioSelect" placeholder="Municipio">
                            <option>Municipio</option>
                        </select>
                    </div>
                </form>
                <p class="lead">
                  <a href="camara" id= "manda4" class="btn btn-lg btn-secondary" onclick="manda_dato4()" >Continuar</a>
                </p>
            </div>
      </main>

      <footer class="mastfoot mt-auto">
        <!--<div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div> -->
      </footer>
    </div>
    <script type="text/javascript">
    function unhide(divID, otherDivId) {
            var item = document.getElementById(divID);
            if (item) {
                item.className=(item.className=='hidden')?'unhidden':'hidden';
            }
            document.getElementById(otherDivId).className = 'hidden';
        }        
    </script>
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!-- Placed at the end of the document so the pages load faster -->
<script src=" {{ url_for('static', filename='bootstrap_files/jquery-3.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src=" {{ url_for('static', filename='bootstrap_files/popper.js') }}"></script>
<script src=" {{ url_for('static', filename='bootstrap_files/bootstrap.js') }}"></script> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!--Obtener js para correrlo local-->
<script>
    
    var page = 0;

    $(document).keypress(function(event) {
    
    if (event.keyCode === 13) {
        
        if( $("#question1").is(":hidden") == false){
            $("#manda1").click();
            return
        }
        
        if( $("#question2").is(":hidden") == false){
            
            $("#manda2").click();
            return
            
        }
        
        if( $("#question3").is(":hidden") == false){
            
            $("#manda3").click();
            return
        }
        
        if( $("#question4").is(":hidden") == false){
            $("#manda4").click();
            return
        }
        
    }
    });
    
    
</script>
 <script> 
            
            
            let requestedData;
            let stateSelect = document.querySelector('[js-state-select]');
            let citySelect = document.querySelector('[js-city-select]');
              
      
              let fillCitiesSelect = function() {
                  let cities = requestedData[stateSelect.value];
                  let options = [];            
                  citySelect.innerHTML = '';
                  cities.forEach((x, i) => {
                      options[i] = document.createElement('option');
                      options[i].setAttribute('value', x);
                      options[i].innerText = x;
                      citySelect.appendChild(options[i]);
                  });
              }
      
              let fillStatesSelect = function(data) {
                  let options = [];
                  requestedData = data;
                  console.log(typeof requestedData);
                  console.log(typeof data);
                  Object.keys(requestedData).forEach((x, i) => {
                      options[i] = document.createElement('option');
                      options[i].setAttribute('value', x);
                      options[i].innerText = x;
                      stateSelect.appendChild(options[i]);
                  });
                  stateSelect.addEventListener('change', fillCitiesSelect);
              }
              
              var json_estados;
            
            $.getJSON("{{url_for('static', filename='estados-municipios.json')}}", function(json) {
                json_estados = json;
                console.log(json_estados);
                fillStatesSelect(json_estados); 
            });
              
             
        </script>
</body></html>
