<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="BrunoSLopezF">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
     <!--<link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico"> Poner logo datalab!!-->

    <title>Un ejercicio de conciencia</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href=" {{ url_for('static', filename='bootstrap_files/bootstrap.css') }} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {{ url_for('static', filename='cover.css') }}" rel="stylesheet">
    <style>
        canvas {
            position: absolute;
            }
        #myProgress {
            width: 100%;
            background-color: #ddd;
            position:absolute;
            left:0px;
            top:0px;
            float:left;
            }
        #myBar {
            width: 1%;
            height: 3%;
            height: 3vh;
            background-color: #4CAF50;
            }
        </style>
        </head>

<body onload="" class="text-center" cz-shortcut-listen="true" style = "font-size: 160%;">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column vertical-center">
        <header class="masthead mb-auto">
            <div class="inner">
            </div>
        </header>
        <main role="main" class="inner cover vertical-center">
            <div class = "container">
                <div id = "myProgress">
                    <div id = "myBar"></div>
                </div>
                <div class = "row">
                    <div class = "col l">
                    <p style = "font-size: 140%;">
                        Instrucciones
                    </p>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col">
                        <!-- Aqui metemos la cámara  --> 
                        <video id="video" autoplay style="width: 640px; height: 640px; border: 1px solid black;"></video>
                        <canvas id="canvas" ></canvas>
                        <canvas id="imagen" style="display:none" width="640" height="640"></canvas>
                        <img id="photo" style="visibility: hidden; display: none" src=""></img>                    
                    </div>
                </div>
                <div class = "row">
                    <div class = "col c">
                        <!-- Botón -->
                        <p class="lead">
                            <a href = "#" id="foto" class="btn btn-lg btn-secondary">Tomar Foto</a>
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>

<script src="{{ url_for('static', filename='js/FaceDetector.js') }}"></script>
<script src="{{ url_for('static', filename='js/WebcamManager.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!--Obtener js para correrlo local-->

<script>
    $(document).ready(function(){
        $('#foto').click(function() {
            take_photo();
            move();
            });
        });       
        

        function base64ToBlob(base64, mime) 
        {
            mime = mime || '';
            var sliceSize = 1024;
            var byteChars = window.atob(base64);
            var byteArrays = [];

            for (var offset = 0, len = byteChars.length; offset < len; offset += sliceSize) {
                var slice = byteChars.slice(offset, offset + sliceSize);

                var byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                var byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);
            }

            return new Blob(byteArrays, {type: mime});
        }

        function take_photo(){
            canva = document.getElementById('imagen');
            context = canva.getContext('2d');
            photo = document.getElementById('photo');
            context.drawImage(video,0,0,640,640);
            photo.setAttribute('src', canva.toDataURL('image/png'));
            

            var url = "/image-send";                
            var image = $('#photo').attr('src');
            var base64ImageContent = image.replace(/^data:image\/(png|jpg);base64,/, "");
            var blob = base64ToBlob(base64ImageContent, 'image/jpg');                
            var formData = new FormData();
            formData.append('imagen', blob);
            formData.append('foto', 0);

            $.ajax({
                url: url, 
                type: "POST", 
                cache: false,
                contentType: false,
                processData: false,
                data: formData
                })
                .done(function(e){
                    window.location.href="caracara/"+e.nombre+"/"+e.nombreD+"/"+e.edadD+"/"+e.estadoD+"/"+e.municipioD+"/"+e.fechaD+"/"+e.nombreU+"/"+e.edadU+"/"+e.estadoU+"/"+e.municipioU             
                });
             }
        function move() {
          var elem = document.getElementById("myBar");   
          var width = 1;
          var id = setInterval(frame, 100);
          function frame() {
            if (width >= 100) {
              clearInterval(id);
            } else {
              width++; 
              elem.style.width = width + '%'; 
            }
          }
        }

    var camStreamWidth = 640;
    var camStreamHeight = 640;

    var VIEW_WIDTH = 640;
    var VIEW_HEIGHT = 640;

    var video = document.getElementById("video");
    var canvas = document.getElementById("canvas");

    canvas.width = VIEW_WIDTH;
    canvas.height = VIEW_HEIGHT;

    var webcamParams = {
        video: {
            mandatory: {
                maxWidth: camStreamWidth,
                maxHeight: camStreamHeight,
                minWidth: camStreamWidth,
                minHeight: camStreamHeight
            }
        }
    };
    var webcamMgr = new WebCamManager(
        {
            webcamParams: webcamParams, //Set params for web camera
            testVideoMode: false,//true:force use example video for test false:use web camera
            videoTag: video
        }
    );

    var faceDetector = new FaceDetector(
        {
            video: webcamMgr.getVideoTag(),
            flipLeftRight: false,
            flipUpsideDown: false
        }
    );

    webcamMgr.setOnGetUserMediaCallback(function () {
        faceDetector.startDetecting();
    });

    faceDetector.setOnFaceAddedCallback(function (addedFaces, detectedFaces) {
        for (var i = 0; i < addedFaces.length; i++) {
            console.log("[facedetector] New face detected id=" + addedFaces[i].faceId + " index=" + addedFaces[i].faceIndex);
        }
    });

    faceDetector.setOnFaceLostCallback(function (lostFaces, detectedFaces) {

        var ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, VIEW_WIDTH, VIEW_HEIGHT);

        for (var i = 0; i < lostFaces.length; i++) {
            console.log("[facedetector] Face removed id=" + lostFaces[i].faceId + " index=" + lostFaces[i].faceIndex);
        }

    });

    faceDetector.setOnFaceUpdatedCallback(function (detectedFaces) {

        var ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, VIEW_WIDTH, VIEW_HEIGHT);

        ctx.strokeStyle = "white";
        ctx.lineWidth = 3;
        ctx.fillStyle = "white";
        ctx.font = "10px arial";

        for (var i = 0; i < detectedFaces.length; i++) {

            var face = detectedFaces[i];

            ctx.fillText('Identificando persona desaparecida', face.x * VIEW_WIDTH, face.y * VIEW_HEIGHT);
            ctx.strokeRect(face.x * VIEW_WIDTH, face.y * VIEW_HEIGHT + 10, face.width * VIEW_WIDTH, face.height * VIEW_HEIGHT);

        }
    });


    webcamMgr.startCamera();

</script>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src=" {{ url_for('static', filename='bootstrap_files/jquery-3.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src=" {{ url_for('static', filename='bootstrap_files/popper.js') }}"></script>
<script src=" {{ url_for('static', filename='bootstrap_files/bootstrap.js') }}"></script> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    
    

    $(document).keypress(function(event) {
    
    if (event.keyCode === 13) {
                $('#foto').click();
        }
    });
    
    
</script>
</body>
</html>
